{% extends 'index.html' %}
{% load static %}
{% block cabecera %}
    <div class="row">
    <div class="col-xl-12 col-sm-12">
            <div class="card mb-4 bg-purple">
                <div class="card-body">
                    <div class="media d-flex align-items-center">
                        <div class="mr-4 rounded-circle bg-white  sr-icon-box text-purple">
                            <a href=""><i class="vl_user-male"></i></a>
                        </div>
                        <div class="media-body text-white">
                            <h4 class="text-uppercase mb-0 weight500">REGISTRO DE ORDENES DE TRABJO</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block principal %}
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card card-shadow mb-4">
                <div class="card-header border-0">
                    <div class="custom-title-wrap bar-warning">
                        <div class="custom-title">Datos del Cliente</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <input type="hidden" id="cliente_id" name="cliente_id" class="form-control" readonly="readonly" placeholder="id" aria-label="id" aria-describedby="basic-addon2" value="">
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Apellidos del Cliente, ingrese el número de cédula o ruc y luego de clic en buscar" aria-label="Cliente" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" onclick="buscar()" type="button" title="Buscar"><i class="fa fa-search"></i></button>
                            <button class="btn btn-outline-secondary" onclick="removerCliente()" type="button" title="Limpiar Campos"><i class="fa fa-minus-circle"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-shadow mb-4">
        <div class="card-header border-0">
            <div class="custom-title-wrap bar-primary">
                <div class="custom-title">Ordenes Registradas</div>
                <a onclick="inicializar()" data-target="#editCLiente" data-toggle="modal" class="btn btn-primary text-white">Nueva Orden</a>
            </div>
        </div>
        <div class="card-body- pt-3 pb-4">
            <div class="table-responsive">
                <table id="tClientes" class="table table-bordered table-striped" cellspacing="0">
                    <thead>
                    <tr class="bg-purple">
                        <th class="text-lg-center text-white">Id</th>
                        <th class="text-lg-center text-white">Fecha</th>
                        <th class="text-white">Secuencial</th>
                        <th class="text-white">Cliente</th>
                        <th class="text-white">Dispositivo</th>
                        <th class="text-white">Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for orden in ordenes %}
                        <tr ondblclick="seleccionar(this,{{ orden.cliente.id }},'{{ orden.dispositivo_recibido }}','{{ orden.marca_modelo }}','{{ orden.password }}','{{ orden.numero_serie }}','{{ orden.cables_accesorios }}','{{ orden.problema_reportado }}','{{ observaciones }}','{{ orden.tareas_a_realizar }}','{{ orden.total|floatformat:2 }}','{{ orden.abono|floatformat:2 }}','{{ orden.total_cobrar|floatformat:2 }}')" style="cursor: pointer">
                            <td class="text-lg-center">{{ orden.id }}</td>
                            <td class="text-lg-center">{{ orden.fecha|date:"d-m-Y" }}</td>
                            <td>{{ orden.secuencial }}</td>
                            <td>{{ orden.cliente.nombres_apellidos }}</td>
                            <td>{{ orden.dispositivo_recibido }}</td>
                            <td>{{ orden.estado }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr><td colspan="8">Doble clic para seleccionar</td></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{#    clientes#}
     <div class="modal fade" id="editCLiente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titulo"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="">
                {% csrf_token %}
                    <div class="modal-body">
                        <div class="card card-shadow mb-4">
                            <div class="card-header border-0">
                                <div class="custom-title-wrap bar-warning">
                                    <div class="custom-title">Registrar Orden de Trabajo</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Id del CLiente</label>
                                    <div class="col-sm-4">
                                        <input type="hidden" required="required" class="form-control" readonly id="idReg" name="idReg" placeholder="0">
                                        <input type="text" class="form-control" id="idCli" readonly name="id" placeholder="Seleccione de la página principal">
                                    </div>
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Secuencial</label>
                                    <div class="col-sm-4">
                                        <input type="text" required="required" class="form-control" readonly="readonly" id="secuencial" value="{{ secuencial }}" name="secuencial" placeholder="000000000">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Dispositivos Recibidos</label>
                                    <div class="col-sm-10">
                                        <textarea required placeholder="Ingrese todos los que considere necesarios, separe por comas" name="dispositivo_recibido" id="dispositivo_recibido" cols="30" rows="2" style="resize: none" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Marca y/o Modelo </label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="marca_modelo" id="marca_modelo" placeholder="Ingrese la marca y o el modelo">
                                    </div>
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Contraseña </label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="password" id="password" placeholder="Cuando aplique">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Numero de Serie </label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="numero_serie"
                                               id="numero_serie" placeholder="Cuando aplique">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Cables y accesorios</label>
                                    <div class="col-sm-4">
                                        <textarea placeholder="Ingrese todos los que considere necesarios, separe por comas" name="cables_accesorios" id="cables_accesorios" cols="30" rows="2" style="resize: none" class="form-control"></textarea>
                                    </div>
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Problema reportado por el cliente</label>
                                    <div class="col-sm-4">
                                        <textarea required placeholder="Descripción del problema" name="problema_reportado" id="problema_reportado" cols="30" rows="2" style="resize: none" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Observaciones</label>
                                    <div class="col-sm-10">
                                        <textarea placeholder="Describa alguna observación" name="observaciones" id="observaciones" cols="30" rows="2" style="resize: none" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Solución</label>
                                    <div class="col-sm-10">
                                        <textarea required placeholder="Describa la solución" name="solucion" id="solucion" cols="30" rows="2" style="resize: none" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Total</label>
                                    <div class="col-sm-2">
                                        <input type="number" step="0.001" class="form-control text-right" name="total" value="0.00" id="total" placeholder="0.00">
                                    </div>
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Abono</label>
                                    <div class="col-sm-2">
                                        <input type="number" step="0.001" class="form-control text-right" name="abono" id="abono" value="0.00" placeholder="0.00">
                                    </div>
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Total a Cobrar</label>
                                    <div class="col-sm-2">
                                        <input type="number" step="0.001" class="form-control text-right" readonly="readonly" value="0.00" name="total_cobrar" id="total_cobrar" placeholder="0.00">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" onclick="$('#secuencial').val(''); $('#idCli').val('')" class="btn btn-primary"><i class="fa fa-text-width"></i> Nuevo Registro</button>
                        <button type="submit" class="btn btn-warning"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <div class="modal fade" id="clientes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titulo">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="tablaClientes" class="table table-bordered table-striped" cellspacing="0">
                        <thead class="bg-success text-white">
                        <th>Id</th>
                        <th>Identificación</th>
                        <th>Nombre y Apellidos o Razón Social</th>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <label for="">Doble click para seleccionar</label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'assets/vendor/data-tables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/vendor/data-tables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'alert/alertas.js' %}"></script>
    {% if mensaje %}
        <script>
        notificacion(1000, 'success', '{{mensaje}}', '')
        </script>
    {% endif %}
    <script>
    $('#nombre').val(sessionStorage.getItem('nombre'))
    $('#cliente_id').val(sessionStorage.getItem('cliente'))
    $("#idCli").val(sessionStorage.getItem('cliente'))
    $("#tClientes").dataTable()

    function inicializar(){
        $('#secuencial').val('{{ secuencial }}');
        $('#idCli').val(sessionStorage.getItem('cliente'))
    }
    function seleccionar(x,xid,dispositivo,marca_modelo,password,numero_serie,cables_accesorios,problema_reportado,observaciones,solucion,total,abono,total_cobrar) {
        row = x;
        id = row.cells[0].textContent
        fecha=row.cells[1].textContent
        secuencial=row.cells[2].textContent
        estado=row.cells[5].textContent
        console.table(id, fecha, secuencial, dispositivo,total, abono,total_cobrar, estado)
        $("#idReg").val(id)
        $("#idCli").val(xid)
        $("#secuencial").val(secuencial)
        $("#editCLiente").modal('show')
        $("#dispositivo_recibido").val(dispositivo)
        $("#marca_modelo").val(marca_modelo)
        $("#password").val(password)
        $("#numero_serie").val(numero_serie)
        $('#cables_accesorios').val(cables_accesorios)
        $('#problema_reportado').val(problema_reportado)
        $('#observaciones').val(observaciones)
        $('#solucion').val(solucion)
        $('#total').val(parseFloat(total.replace(",",".")).toFixed(2))
        $('#abono').val(parseFloat(abono.replace(",",".")).toFixed(2))
        $('#total_cobrar').val(parseFloat(total_cobrar.replace(",",".")).toFixed(2))
    }
    </script>
    <script>

        function buscar() {
            $("#clientes").modal('show')
            $.get('{% url "buscar_clientes" %}', {q: $("#nombre").val()}, function (response) {
                let resp = JSON.parse(response)
                console.log(resp)
                $("#tablaClientes>tbody").html("")
                for (let cliente in resp) {
                    $("#tablaClientes>tbody").prepend("<tr ondblclick='seleccionar_cliente_row(this)' style='cursor:pointer;'><td>" + resp[cliente].pk + "</td><td>" + resp[cliente].fields.identificacion + "</td><td>" + resp[cliente].fields.nombres_apellidos + "</td></tr>")
                }
            });
        }

        $("#nombre").keypress(function (e) {
            if (e.keyCode === 13) {  //checks whether the pressed key is "Enter"
                buscar();
            }
        })

        function seleccionar_cliente_row(x) {
            $('#secuencial').val('')
            console.log(x.text)
            id = x.cells[0].textContent
            nombre = x.cells[2].textContent
            sessionStorage.setItem('cliente', id)
            sessionStorage.setItem('nombre', nombre)
            $("#nombre").val(nombre)
            $("#idCli").val(sessionStorage.getItem('cliente'))
            $("#clientes").modal('hide')

            console.log('cliente: ',sessionStorage.getItem('cliente'))

        }

        function removerCliente() {
            sessionStorage.setItem('cliente', 0)
            sessionStorage.setItem('nombre', '')
            $("#cliente_id").val('')
            $("#nombre").val('')
        }

        function calculo(){
            total=$("#total").val().replace(",",".")
            abono=$("#abono").val().replace(",",".")
            suma=parseFloat(total)-parseFloat(abono)
            total_cobrar=$("#total_cobrar").val(suma.toFixed(2))
        }

        $("#total").keyup(function(){
            calculo()
        });
        $("#abono").keyup(function(){
            calculo()
        });

    </script>
{% endblock %}